.landingPage {
  padding: 30px;
  margin-left: 4%;
  height: auto;
  min-height: 120vh;
  padding-bottom: 6%;
}

.landingPage .logo {
  width: 20%;
}

.landingPage h1 {
  color: white;
  margin-top: 5%;
  font-size: 4rem;
}

.tagline {
  color: #c9c2c2;
  margin-top: -2%;
}

.hero {
  color: white;
  width: 30%;
  margin-top: 5%;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-top: 5%;
  gap: 10px;
}

.signup,
.login {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border-radius: 30px;
  text-align: center;

  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.signup,
.login:hover {
  background-color: #b5afaf;
  border: none;
  color: black;
}

.signup:hover,
.login {
  background-color: transparent;
  border: 2px solid #b5afaf;
  color: #b5afaf;
}

@media screen and (max-width: 1024px) {
  .landingPage h1 {
    margin-top: 10%;
  }

  .hero {
    width: 45%;
  }

  .cta {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .landingPage h1 {
    font-size: 40px;
  }
  .landingPage .logo {
    width: 50%;
    margin-left: -10%;
  }
  .cta {
    width: 100%;
  }

  .hero {
    width: 79%;
    margin-bottom: 10%;
  }

  .cont-hero {
    margin-top: 30%;
  }
}
