.loginPage {
  height: 100vh;
  display: flex;
  align-items: center;
}

.labels {
  width: 100%;
}

.loginForm .labels {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 100%;
  max-width: 400px;
}

.labels label {
  color: rgba(255, 255, 255, 0.79);
}

.or {
  display: flex;
  align-items: center; /* vertically centers "or" */
  gap: 10px; /* spacing between items */
}

.or hr {
  flex: 1; /* makes the lines expand */
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.129);
}

.or p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.452);
}

.noAccount {
  display: flex;
  gap: 5px;
}

.noAccount .link {
  color: #e09c6d;
  text-decoration: none;
}

.link:hover,
.reset:hover,
.show:hover {
  color: #dfbf98;
  text-decoration: underline;
}

.resetLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -15px;
}

.reset,
.show {
  color: rgba(255, 255, 255, 0.564);
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 13px;
}

.loginBtnForm {
  margin-top: 0px;
}

.googlelogin {
  width: 80%;
}

@media screen and (max-width: 1024px) {
  .loginForm {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .loginForm {
    margin-top: 25px;
    width: 100%;
  }
  .loginForm .googleBtn {
    width: 88%;
  }
}
