.public-layout {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
    url("../../assets/forest.jpg") no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  width: 100%;
}
