.signupPage {
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  align-items: center;
}

.signupForm select {
  color: rgba(255, 255, 255, 0.367);
  width: 110%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.367);
}
.logo-sign {
  width: 20%;
}

.signupForm .labels {
  width: 100%;
  padding: 10px;
}

.signupForm label {
  text-align: left;
  gap: 23px;
}

.signupForm input,
.signupForm select {
  margin-top: -10%;
}

.signupForm select {
  width: 105%;
  display: block;
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
}

option {
  color: black;
}

.signupForm label {
  margin-bottom: 10px;
}

.signupForm {
  display: flex;
  flex-direction: column;
}

.signupForm input {
  color: white;
}

input:focus,
select:focus {
  outline: none;
}

.flex label {
  width: 45%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.errors {
  color: red;
}

.successMessage {
  color: rgb(12, 193, 12);
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  .signupForm {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .signupForm {
    width: 80%;
  }
  .flex {
    flex-direction: column;
    width: 100%;
  }

  .flex .role {
    width: 100%;
  }

  .flex label {
    width: 100%;
    gap: 60px;
  }
}
