.EventsPage {
  padding-top: 6%;
  background-color: #f0f2f5;
  min-height: 100vh;
  padding-left: 30px;
  padding-right: 30px;
}
.no-events {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;        /* centers vertically */
  font-size: 1.4rem;
  font-weight: 600;
  color: black;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}
.event-card {
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event-info .detail {
  font-size: 0.85em;
  color: #666;
  margin: 4px 0;
  line-height: 1.4;
}
.event-card .btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}
.btns button {
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
  transition: all 0.3s ease;
}
.btn-approve {
  background-color: #0d3d15;
  color: white;
}
.btn-approve:hover {
  background-color: #5ea86a;
}
.btn-suspend {
  background-color: #003973;
  color: white;
}
.btn-suspend:hover {
  background-color: #2466a9;
}
.btn-delete {
  background-color: #ff0000;
  color: white;
}

.btn-delete:hover,
.btn-ban:hover,
.btn-reject:hover {
  background-color: #db3636;
}
.btn-reports {
  background-color: black;
  color: white;
}
.btn-reports:hover {
  background-color: #181717;
}
.status {
  color: #319f43;
  font-weight: 600;
}
.status-line {
  margin-top: 10px;
  font-weight: 500;
  color: #319f43;
}
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-top: 4px solid #00c2ff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite;
  margin-bottom: 10px;
}

.loading-text {
  font-size: 1.2rem;
  color: #ccc;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
