
    h1 {
      font-size: 1.8em;
      margin-bottom: 20px;
    }
    .org-card {
     background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
      padding: 20px;
      border-radius: 10px;
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .org-info {
      flex: 1;
    }
    .status {
      color: #ffc107;
      font-weight: 600;
    }
    .btns button {
      border: none;
      padding: 10px 15px;
      margin: 0 5px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 500;
    }
    .btn-approve {
      background-color: #000;
      color: white;
    }
    .btn-reject {
      background-color: #f44336;
      color: white;
    }
    .btn-view {
      background-color: #ccc;
      color: black;
    }


    .OrganisationsPage {
      padding-top:10%;
      background-color: #f0f2f5;
      min-height: 100vh;
      padding-left: 30px;
      padding-right: 30px;
    }