.settingVolNav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  background-color: #fff; 
  border-radius: 16px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #cbd5e1;
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 12px 18px;
  border-radius: 10px;
  text-decoration: none;
  transition: background 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: #1e293b;
  color: #fff;
}

.btn.active {
  background-color: #bcc5d4;
  color: #fff;
}

.icon {
  font-size: 20px;
  color: #11171e;
}

.btn.active .icon {
  color: #657589; 
}
