@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");

body {
  font-family: "Roboto Slab", serif;
}

body::-webkit-scrollbar {
  width: 0; /* width of the scrollbar */
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0;
}

.logo {
  width: 10%;
}

.signupForm {
  margin: auto;
  width: 30%;
  padding-left: 2rem;
  padding-right: 2rem;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
}

.loginForm,
label,
.signupForm label {
  display: flex;
  flex-direction: column;
}

.loginForm input,
.signupForm input {
  width: 95%;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
}
.loginBtn,
.googleBtn {
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;

  border-radius: 10px;
}

.loginBtn {
  margin-top: 30px;
  width: 100%;
  background: linear-gradient(180deg, #dfbf98 0%, #b88b6a 50%, #e09c6d 100%);
  border: none;
  color: white;
  transition: all 0.8s ease-in-out;
}

.loginBtn:hover {
  background: linear-gradient(270deg, #f0d3ad 0%, #d19a74 50%, #f1a974 100%);
  color: black;
}

.googleBtn {
  gap: 8px;
  border: 1px solid#d19a74;
  background-color: transparent;
  transition: all 0.8s ease-in-out;
}
.loginForm .googleBtn {
  width: 100%;
}

.signupForm .googleBtn {
  width: 100%;
}

.googleBtn:hover {
  background: linear-gradient(180deg, #dfbf98 0%, #b88b6a 50%, #e09c6d 100%);
  border-image: transparent;
}
.loginForm h2,
.signupForm h2,
label {
  color: white;
}

.errors {
  color: red;
  font-size: 12px;
  margin-top: -12px;
}

input:focus {
  outline: none;
  background: transparent;
}
