:root {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/forest.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

.logo {
  width: 20%;
}

.loginForm,
.signupForm {
  margin: auto;
  width: 30%;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.loginForm,
label,
.signupForm label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input,
select {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
}
.loginBtn,
.googleBtn {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;

  border-radius: 10px;
}

.loginBtn {
  margin-top: 30px;

  background: linear-gradient(180deg, #dfbf98 0%, #b88b6a 50%, #e09c6d 100%);
  border: none;
  color: white;
  transition: all 0.8s ease-in-out;
}

.loginBtn:hover {
  background: linear-gradient(270deg, #f0d3ad 0%, #d19a74 50%, #f1a974 100%);
  color: black;
}

.googleBtn {
  gap: 8px;
  border: 1px solid#d19a74;
  background-color: transparent;
  transition: all 0.8s ease-in-out;
}

.googleBtn:hover {
  background: linear-gradient(180deg, #dfbf98 0%, #b88b6a 50%, #e09c6d 100%);
  border-image: transparent;
}
.loginForm h2,
.signupForm h2,
label {
  color: white;
}

.errors {
  color: red;
  font-size: 12px;
}

@media screen and (max-width: 840px) {
  .loginForm,
  .signupForm {
    width: 50%;
    padding: 60px;
  }
}
