.ApplicationPage {
  padding-top: 8%;
  padding-left: 40px;
  height: auto;
  min-height: 90vh;
}

.application-vol {
  background: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  height: auto;
  padding: 30px;
  width: 80%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.application-card .heading {
  background: linear-gradient(180deg, #dfbf98 0%, #b88b6a 50%, #e09c6d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.application-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 10px;

  border-radius: 20px;
}

.names .org_name {
  font-size: 12px;
}

.pending {
  background-color: #fef9c3;
  color: #854d0e;
}

.accepted {
  color: #166534;
  background-color: #dcfce7;
}

.cancelled {
  color: #1e40af;
  background-color: #dbeafe;
}

.pending,
.accepted,
.cancelled {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
