.homeVolPage {
  margin-left: 5%;
  height: auto;
  margin-top: 10%;
  padding-bottom: 4%;
}

.homeVolPage .username {
  color: black;
  margin-left: 13px;
}

.homeVolPage .header {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10%;
}
.header div {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 20px;
  margin-top: 10px;
}

.hours {
  background-color: #6366f1;
}

.hours .icon,
.applications .icon,
.sessions .icon {
  font-size: 30px;
  color: white;
}
.holder {
  text-align: center;
}

.holder h4 {
  color: white;
}

.holder p {
  font-size: 30px;
  font-weight: bold;
  margin-top: -15px;
}

.applications {
  background-color: #f97316;
}

.sessions {
  background-color: #10b981;
}

.section2 {
  margin-top: 3%;
  display: flex;
}

.checkSystem {
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  padding: 10px;
  width: 40%;
  border-radius: 20px;
}
.checkSystem .main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.logtime {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  justify-content: center;
  font-weight: bolder;
}

.logtime .icon {
  color: #e09c6d;
  font-size: 30px;
}

.cont {
  padding: 10px;
}

.exact {
  color: rgba(0, 0, 0, 0.375);
}

.cont span {
  font-size: 30px;
}

.time .title {
  font-weight: bold;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.check-in {
  background-color: #aef1c5;
  color: #166534;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.check-in:hover {
  background-color: #dcfce7;
}

.check-out {
  background-color: #c1d8f7;
  color: #1e40af;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.check-out:hover {
  background-color: #dbeafe;
}

.buttons button {
  width: 45%;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.chart {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart h2 {
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .homeVolPage {
    margin-top: 15%;
  }

  .hours,
  .applications,
  .sessions {
    flex-direction: column;
  }

  .icon {
    width: 20%;
    margin-bottom: -30px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 840px) {
  .section2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .chart {
    width: 100%;
  }
  .checkSystem {
    width: 95%;
  }
}

.no-acc {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}
