.messages-page {
  padding-top: 10%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  padding-left: 2%;
  padding-right: 2%;
  min-height: 90vh;
}

h2 {
  margin-bottom: 20px;
}

.message-card {
  background: #f8f9fa;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.message-card.unread {
  border-left: 5px solid #e09c6d;
  background: #e8f1ff;
}

.message-card.read {
  background: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}

.message-card button {
  margin-top: 10px;
  background: linear-gradient(180deg, #dfbf98 0%, #b88b6a 50%, #e09c6d 100%);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 2%;
}

.message-card button:hover {
  background: #0056b3;
}

.send-form {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.send-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.send-form input,
.send-form textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.send-form button {
  background: linear-gradient(180deg, #dfbf98 0%, #b88b6a 50%, #e09c6d 100%);
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.send-form button:hover {
  background: linear-gradient(180deg, #e2be93 0%, #b88b6a 50%, #f39e61 100%);
  color: black;
}

.no-op {
  text-align: center;
  margin-top: 20%;
  font-size: 2rem;
}
