.profilePage,
.settings-card-other {
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 30px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  padding-right: 40px;
}

.flex {
  display: flex;
  align-items: center;
  width: 100%;
}

.profilePage form,
.form-column {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.profilePage form label {
  color: rgba(0, 0, 0, 0.604);
  padding: 20px;
  width: 90%;
}

.form-column label {
  width: 100%;
}

.save-cont {
  width: 100%;
}

.profilePage form input,
.profilePage form select {
  padding: 10px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 20px;
  margin-top: 10px;
}

.profilePage form select {
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.556);
}

.profilePage form input {
  width: 93%;
}
.settings-card-other form textarea {
  width: 97%;
}

.settings-card-other form label {
  width: 90%;
}
.fit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.flex {
  gap: 20px;
  padding: 10px;
  width: 100%;
}

.left-content,
.right-content {
  width: 50%;
}

.bio {
  width: 100%;
}

label textarea {
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.556);
  padding: 10px;
  padding-top: 20px;
}

.save {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(180deg, #dfbf98 0%, #b88b6a 50%, #e09c6d 100%);
  margin-top: 30px;
  cursor: pointer;
}

.save:hover {
  opacity: 0.8;
}

.prof {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.profile {
  width: 100%;
}

.custom-alert {
  position: fixed;
  top: 70%;
  right: 10%;
  padding: 15px 25px;
  border-radius: 6px;
  font-weight: bold;
  color: #fff;
  z-index: 9999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.custom-alert.success {
  background-color: #4caf50;
}

.custom-alert.error {
  background-color: #f44336;
}

.grid-update {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem 2rem;
  width: 100%;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
