.settingsPage {
  padding-left: 5%;
  display: flex;
  gap: 40px;
  align-items: start;
  height: auto;

  margin-top: 10%;
  padding-bottom: 40px;
}

.settingVolNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  border-radius: 10px;
  gap: 10px;
  height: 200px;
  width: 30%;
}

.settings-content {
  width: 100%;
}

.btn-sett {
  text-decoration: none;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;

  padding-left: 20px;
  font-size: 20px;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.settingVolNav .btn:hover,
.btn-sett.active {
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: 3px solid #e09c6d;

  background-color: #e9ebf8;
}

.profile {
  display: flex;
  align-items: center;

  justify-content: space-between;
  width: 80%;
}

.profile button {
  padding: 10px;
  width: 25%;
  border-radius: 10px;
}

@media screen and (max-width: 940px) {
  .settingsPage {
    flex-direction: column;
    gap: 0;
  }

  .settingVolNav {
    height: 50px;
    flex-direction: row;
    width: 90%;
  }
}
