.sidebar {
  padding: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  width: 20%;
  height: 100vh;
  position: fixed;
  z-index: 1600;
}

.logo {
  margin-bottom: 3%;
  width: 50%;
}

.sideElements {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  padding: 10px;
}

.sideElements.active {
  border-top: 1px solid #e09c6d;
  border-bottom: 1px solid #e09c6d;
  border-right: 4px solid #e09c6d;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.sideElements:hover {
  border-top: 1px solid #e09c6d;
  border-bottom: 1px solid #e09c6d;
  border-right: 4px solid #e09c6d;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.sideElements p {
  color: black;
}

.dash-icon {
  font-size: 30px;
  color: #e09c6d;
}

@media screen and (max-width: 1024px) {
  .sideElements p {
    font-size: 15px;
  }
}
