.dashboard-container {
  background-color: #f9fafb;
  min-height: 100vh;
  padding-top: 10%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.highlights {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary-card {
  border-radius: 1rem;
  padding: 1.5rem;
  background: #f3f4f6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s ease;
  width: 30%;
}

.summary-card:hover {
  transform: translateY(-4px);
}

.summary-card h3 {
  color: #6b7280;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.summary-card p {
  font-size: 2rem;
  font-weight: 700;
  color: #111827;
}

.chart-title {
  color: #111827;
  font-size: 1.5rem;
  font-weight: 700;
}

.chart-org {
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin-top: 5%;
  border-radius: 20px;
}
