.settings-container {
  padding-top: 10%;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  align-items: flex-start;
}

.settings-sidebar {
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 2.7%;
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.tab-btnn {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem 5rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: 500;
  color: black;
  background: white;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
  border-left: none;
}

.tab-btnn:hover {
  border-top: 1px solid #0f172a;
  border-right: 2px solid #0f172a;
  border-bottom: 1px solid #0f172a;
  border-left: none;
}

.tab-btnn.active {
  border-top: 1px solid #0f172a;
  border-right: 3px solid #0f172a;
  border-bottom: 1px solid #0f172a;
}

.settings-content-org {
  border-radius: 12px;
  padding: 2rem;

  width: 100%;
}

.prof-org {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  align-items: center;
}

.cont-org {
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 10px 40px;
}

.settings-card-org {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: transparent;
}

.avatar-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  gap: 2rem;
}

.avatar-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--bg-muted);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.avatar-buttons {
  display: flex;
  gap: 1rem;
  width: 80%;
}

.avatar-buttons button {
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease;
}

.btn-update {
  background: linear-gradient(90deg, #0f172a 0%, #003973 100%);
  color: white;
}

.btn-out {
  background: transparent;
  border: 1px solid white;
}

.btn.full {
  width: 100%;
}
.form-grid {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-grid label,
.form-column label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: 0.25rem;
  color: #0f172a;
}

.form-grid input,
.form-column input {
  padding: 0.6rem 0.8rem;
  border-radius: 6px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.815);

  transition: all 0.3s ease;
}

input:focus {
  outline: none;
}

.save-org {
  margin-top: 2%;
  width: 210%;
  border: none;
  padding-bottom: 12px;
  padding-top: 12px;
  border-radius: 10px;
  background: linear-gradient(90deg, #0f172a 0%, #003973 100%);
  color: white;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.save-org:hover,
.save-cont:hover {
  opacity: 0.9;
}

.save-cont {
  background: linear-gradient(90deg, #0f172a 0%, #003973 100%);
  color: white;
  padding-bottom: 12px;
  padding-top: 12px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.prof-org-title {
  color: #021b33;
}

.update-message {
  color: #003973;
}
