.topbar {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  box-shadow: var(--shadow-md);
  transition: var(--transition);
  padding: var(--p-4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create {
  background: linear-gradient(90deg, #0f172a 0%, #003973 100%);
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: white;
  padding: 10px 120px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 600px;
  max-height: 90vh;
  overflow-y: auto;
}

.close-btn {
  float: right;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
