.dashboard-table-card {
  margin-top: 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif !important;
  border-radius: 10px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.27) !important;
  border: 1px solid #e0e0e0;
  width: 90%;
  max-width: 1400px;
  margin-left: 5%;
}

.dashboard-table-wrapper {
  overflow-x: auto;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;

  min-width: 1000px;
}

.dashboard-table-header,
.dashboard-table-cell {
  padding: 16px 12px;
  text-align: left;
  font-size: 14px;
  vertical-align: middle;
}

.dashboard-table-header-row {
  border-bottom: 1px solid #dcdcdc;
  background-color: #fcfcfc;
}

.dashboard-table-header {
  font-weight: 600;
  color: #333;

  border-right: 1px solid #e0e0e0;
}

.dashboard-table-header:last-child {
  border-right: none;
}

.dashboard-table-cell {
  color: #555;
}

.dashboard-table-row:not(:last-child) {
  border-bottom: 1px solid #f0f0f0;
}

.dashboard-view-btn {
  background-color: #0c2340 !important;
  color: white !important;
  text-transform: none !important;
  font-weight: 600 !important;
  font-size: 13px !important;
  padding: 6px 14px !important;
  border-radius: 5px !important;
  box-shadow: none !important;
}

.dashboard-view-btn:hover {
  background-color: #003366 !important;
}
