.landingPage {
  padding: 30px;
  margin-left: 4%;
  min-height: 100vh;
}

.landingPage .logo {
  width: 20%;
}

h1 {
  color: white;
  margin-top: 10%;
  font-size: 50px;
}

.tagline {
  color: #c9c2c2;
  margin-top: -2%;
}

.hero {
  color: white;
  width: 30%;
  margin-top: 5%;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-top: 5%;
  gap: 10px;
}

.signup,
.login {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border-radius: 30px;
  text-align: center;

  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.signup,
.login:hover {
  background-color: #b5afaf;
  border: none;
  color: black;
}

.signup:hover,
.login {
  background-color: transparent;
  border: 2px solid #b5afaf;
  color: #b5afaf;
}
